<%- include('header') %> 

<form>
  <lable>Department</lable>
  <select>
    <option>Computer science</option>
    <option>Electrical Engineering</option>
    <option>Robotics</option>
  </select>
  <lable>Select course: </lable>
  <select>
    <option>Course1</option>
    <option>Course2</option>
    <option>Course3</option>
    <option>Course4</option
    <option>Course5</option>
  </select>
  <lable>Availabel Date and time:</lable>
  <label>date:</label>
  <input type="date" />
  <label>time:</label>
  <input type="time" />
  <label>duration in minutes:</label>
  <input type="number" value="60" min="15" />

  <lable>Notes</lable>

  <textarea rows="3" cols="10" ></textarea>
</form>


  <%- include('footer') %> 

