<%- include('header') %> 


<h1>Get, Add, Update, and Delete Availabilities data</h1>
<h2>List of availabilities</h2>
  <p>Tabel of availabilities now</p>

<h2>Add space</h2>
  <form>
    <input type="text" placeholder="Space name" />
       <input type="text" placeholder="Space location" />
    <input type="number" placeholder="capacity" />
    <label>start avaibility</label>
       <input type="datetime"  />
    <label>end avaibility</label>
       <input type="datetime"  />
    
    
    <button>Add Space</button>
  </form>
  <%- include('footer') %> 