<%- include('header') %> 

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Course</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="add">            
            <form>
              <div class="row">
                <div class="col">
                  <label for="courseCredits">Course ID</label>
                  <input type="number" id="courseCredits" class="add" placeholder="Enter course ID" />
                </div>
                <div class="col">
                  <label for="courseCredits">Course Name</label>
                  <input type="number" id="courseCredits" class="add" placeholder="Enter course name" />
                </div>
                <div class="col">
                  <label for="courseMajor">Course Major</label>
                  <select id="courseMajor" class="add">
                    <option value="CS">Computer Science</option>
                    <option value="EE">Electrical Engineering</option>
                    <option value="Robotics">Robotics</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="courseType">Course Type</label>
                  <select id="courseType" class="add">
                    <option value="online">Online (Synchronous)</option>
                    <option value="async">Online (Asynchronous)</option>
                    <option value="inPerson">In-person</option>
                  </select>
                </div>
                <div class="col">
                  <label for="courseCredits">Course Code</label>
                  <input type="number" id="courseCredits" class="add" placeholder="course code" />
                </div>
                <div class="col">
                  <label for="hasLabs">Course Level</label>
                  <select id="hasLabs" class="add">
                    <option value="Freshman">Freshman</option>
                  </select>
                </div>
                
              </div>
              <div class="row">
                <div class="col">
                  <label for="courseYear">Course Duration</label>
                  <input type="number" id="courseCredits" class="add" placeholder="Enter course duration" />
                </div>
                <div class="col">
                  <label for="courseDuration">Frequency of Lectures</label>
                  <input type="number" id="courseDuration" class="add" placeholder="Enter frequency" />
                </div>
                <div class="col">
                  <label for="courseCode">Course Credits</label>
                  <input type="text" id="courseCode" class="add" placeholder="Enter course credits" />
                </div>
          
                
              </div>
          
              <div class="row">
                <div class="col">
                  <label for="professor">Elective</label>
                  <select id="hasLabs" class="add">
                    <option value="No">No</option>
                  </select>
                </div>
                <div class="col">
                  <label for="professor">Course has labs</label>
                  <select id="hasLabs" class="add">
                    <option value="Yes">yes</option>
                    <option value="No">No</option>
                  </select>
                </div>
          
                <div class="col">
                  <label for="professor">Course Year</label>
                  <input type="text" id="professor1" name="professor[]" class="add" placeholder="Enter course year" />
                </div>
                
              </div>
          
              <div class="row">
                <div class="col">
                  <label for="professor">Course Description</label>
                  <input type="text" id="professor1" name="professor[]" class="add" placeholder="Enter course Description" />
                </div>
                <div class="col">
                  <label for="professor">Course Days</label>
                  <input type="text" id="professor1" name="professor[]" class="add" placeholder="Enter days" />
                </div>

                <div class="col">
                  <label for="endDate">Location</label>
                  <select id="hasLabs" class="add">
                    <option value="location1">Location 1</option>
                    <option value="location2">Location 2</option>
                  </select>
                </div>
        
                
              </div>

                <div class="row">
                  
                  <div class="col">
                    <label for="description">Start Time</label>
                    <input type="datetime" class="add" placeholder="Enter start time"></textarea>
                  </div>
                  <div class="col">
                    <label for="description">End Time</label>
                    <input type="datetime" class="add" placeholder="Enter end time"></textarea>
                  </div>
          
                  <div class="col">
                    <label for="prerequisites">Prerequisites</label>
                    <input type="text" id="prerequisites" class="add" placeholder="Enter course prerequisites" />
                  </div>
                </div>
          
    
            </form>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



<div class="container hd-pg justify-content-end">
  <div class="row">
    
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
        Frequency
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Every Semester</a>
        <a class="dropdown-item" href="#">Every Fall</a>
        <a class="dropdown-item" href="#">Every Spring</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
        Type
      </button>
      <div id="filter" class="dropdown-menu">
        <option class="dropdown-item" id="inperson">In-Person</option>
        <option class="dropdown-item" id="online">Online</option>
        <option class="dropdown-item" id="hybird">Hybrid</option>
      </div>
    </div>

    <button type="button" class="add-btn btn add btn-primary" data-toggle="modal" data-target="#exampleModal">
      Add Course
    </button>

  </div>
  <table id="example" class="table table-striped table-bordered" style="width:100%">
      <thead>
          <tr>
            <th>Course Name</th>
            <th>Course Code</th>
            <th>Course Major</th>
            <th>Credits</th>
            <th>Frequency</th>
            <th>Duration</th>
            <th>Type</th>
            <th>Actions</th>
          </tr>
      </thead>
      <tbody>
          <tr>
            <td>Introduction to Programming</td>
            <td>CS101</td>
            <td>Computer Science</td>
            <td>3</td>
            <td>Every Semester</td>
            <td>16 weeks</td>
            <td>In-person</td>
            <td>
              <span class="edit-icon">&#9998;</span>
              <span class="delete-icon">&#128465;</span>
            </td>
          </tr>
          <tr>
            <td>Data Structures and Algorithms</td>
            <td>CS202</td>
            <td>Computer Science</td>
            <td>4</td>
            <td>Every Semester</td>
            <td>16 weeks</td>
            <td>Online</td>
            <td>
              <span class="edit-icon">&#9998;</span>
              <span class="delete-icon">&#128465;</span>
            </td>
          </tr>
          <!-- Add more rows as needed -->
      </tbody>
  </table>
</div>

<script>
  // Initialize DataTable
  $(document).ready(function() {
      let table =$('#example').DataTable();
       
      $("#inperson").click(function(){
        let filterValue = this.id; // get data value 
        console.log(filterValue)
console.log(table.column(2))
console.log(table.column(6)
  .data()
  .filter( value => value === filterValue )).draw()// filter by data value
  
  })

  });

  // Add your JavaScript code for handling the "Add Course" button here
  $('#addCourseButton').click(function() {
      // You can add code to open a modal or perform other actions when the button is clicked.
      alert('Add Course button clicked');
  });

 
  
</script>

<%- include('footer') %> 

