<a class="return" href="/">Return to home page </a>

<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.js"></script>
 -->
<script>
    // Initialize DataTable
    $(document).ready(function() {
        $('#example').DataTable();
    });

    // Add your JavaScript code for handling the "Add Course" button here
    $('#addCourseButton').click(function() {
        // You can add code to open a modal or perform other actions when the button is clicked.
        alert('Add Course button clicked');
    });
</script>

</body>
</html>