<%- include('header') %> 


<div class="intro">
  

<h1>Welcome to the scheduler app</h1>
      
 <p>You can perform actions such as viewing, updating, deleting, and adding new items for each list.</p>

</div>
  
  <div>
<a href="/courses/">

  <div class="icon-feature">
    <i class="fa-solid fa-book-open"></i>

  </div>
  
<h3>Courses</h3>
<p>Display the list of current offered courses by the University for each major along with its semesters and type (online vs in-person) and major</p>
   </a>
   

    <a href="/classes/">
      <div class="icon-feature">
        <i class="fa-solid fa-clock"></i>
      </div>
<h3>Avaibilities </h3>
<p>The list avaibilities of all faculties for a given semester </p>
  </a>

  
         <a href="/professors/">
           <div class="icon-feature">
             <i class="fa-solid fa-user-tie"></i>
           </div>
<h3>Professors</h3>
<p>List of all faculties in the University along with there seniority , avaibility (Full-time vs Adjunct)
, previous given courses </p>
 </a>
       
<!--
  <h3>Spaces</h3>
<p>List of all Available spaces:(provided by University)</p>
  <a href="/spaces/">Spaces</a>
  -->

      <a href="/schedule">

        <div class="icon-feature">
          <i class="fa-solid fa-calendar"></i>
         </div>

  <h3>Schedule</h3>
  <p>Calclate schedule for a given semester</p>
</a>
    
    </div>

  <%- include('footer') %> 




