<%- include('header') %> 

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Professor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="add">            
            <form>
              <div class="row">
                <div class="col">
                  <label for="courseCredits">Professor Name</label>
                  <input type="number" id="courseCredits" class="add" placeholder="Enter course ID" />
                </div>
                <div class="col">
                  <label for="courseMajor">Type</label>
                  <select id="courseMajor" class="add">
                    <option value="CS">Computer Science</option>
                    <option value="EE">Electrical Engineering</option>
                    <option value="Robotics">Robotics</option>
                  </select>
                </div>
                <div class="col">
                  <label for="courseCredits">Seniority</label>
                  <input type="number" id="courseCredits" class="add" placeholder="Enter course name" />
                </div>
              </div>
          
    
            </form>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



<div class="container hd-pg justify-content-end">
  <div class="row">
    
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
        Professor Name
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Dr. Mina</a>
        <a class="dropdown-item" href="#">Dr. Shadi Bani</a>
        <a class="dropdown-item" href="#">Dr. Mariam</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
        Type
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#" onclick="handleClick(this)">In-Person</a>
        <a class="dropdown-item" href="#" onclick="handleClick(this)">Online</a>
        <a class="dropdown-item" href="#" onclick="handleClick(this)">Hybrid</a>
      </div>
    </div>

    <button type="button" class="add-btn btn add btn-primary" data-toggle="modal" data-target="#exampleModal">
      Add Professor
    </button>

  </div>
  <table id="example" class="table table-striped table-bordered" style="width:100%">
      <thead>
          <tr>
            <th>Professor Name</th>
            <th>Type</th>
            <th>Seniority</th>
            <th>Actions</th>
          </tr>
      </thead>
      <tbody>
          <tr>
            <td>Dr. Mina</td>
            <td>Full-time</td>
            <td>5</td>
            <td>
              <span class="edit-icon">&#9998;</span>
              <span class="delete-icon">&#128465;</span>
            </td>
          </tr>
          <tr>
            <td>Dr. Mina</td>
            <td>Adjacent</td>
            <td>3</td>
            <td>
              <span class="edit-icon">&#9998;</span>
              <span class="delete-icon">&#128465;</span>
            </td>
          </tr>
          <!-- Add more rows as needed -->
      </tbody>
  </table>
</div>

<script>
  // Initialize DataTable
  $(document).ready(function() {
      $('#example').DataTable();
  });

  let clickedText = '';

  // Function to handle the click event
  function handleClick(element) {
    // Get the text content of the clicked anchor tag
    clickedText = element.textContent;

    // Display the text content in the console (you can do something else with it)
    console.log('Clicked Text:', clickedText);
    document.getElementById('example_filter').querySelector('[aria-controls="example"]').value = clickedText;
  }
</script>

<%- include('footer') %> 

