<%- include('header') %> 


<div class="schedule">
  <!-- Day Labels -->
  <div class="day-label">Time</div>
  <div class="day-label">Monday</div>
  <div class="day-label">Tuesday</div>
  <div class="day-label">Wednesday</div>
  <div class="day-label">Thursday</div>
  <div class="day-label">Friday</div>

  <!-- Time Labels and Course Blocks -->
  <div class="time-label">9:00 AM</div>
  <div class="dead-time"></div>
  <div class="cs-course course-block">
    <div class="course-details">
      <p>Course: CS101</p>
      <p>Professor: Dr. Smith</p>
    </div>
  </div>
  <div class="cs-course course-block">
    <div class="course-details">
      <p>Course: CS202</p>
      <p>Professor: Dr. Johnson</p>
    </div>
  </div>
  <div class="ee-course course-block">
    <div class="course-details">
      <p>Course: EE301</p>
      <p>Professor: Dr. Williams</p>
    </div>
  </div>
  <div class="ee-course course-block">
    <div class="course-details">
      <p>Course: EE401</p>
      <p>Professor: Dr. Davis</p>
    </div>
  </div>

  <div class="time-label">10:00 AM</div>
  <div class="cs-course course-block">
    <div class="course-details">
      <p>Course: CS303</p>
      <p>Professor: Dr. Smith</p>
    </div>
  </div>
  <div class="cs-course course-block">
    <div class="course-details">
      <p>Course: CS404</p>
      <p>Professor: Dr. Johnson</p>
    </div>
  </div>
  <div class="ee-course course-block">
    <div class="course-details">
      <p>Course: EE501</p>
      <p>Professor: Dr. Williams</p>
    </div>
  </div>
  <div class="ee-course course-block">
    <div class="course-details">
      <p>Course: EE601</p>
      <p>Professor: Dr. Davis</p>
    </div>
  </div>

  <div class="time-label">11:00 AM</div>
  <div class="cs-course course-block">
    <div class="course-details">
      <p>Course: CS505</p>
      <p>Professor: Dr. Smith</p>
    </div>
  </div>
  <div class="cs-course course-block">
    <div class="course-details">
      <p>Course: CS606</p>
      <p>Professor: Dr. Johnson</p>
    </div>
  </div>
  <div class="dead-time"></div>
  <div class="dead-time"></div>
  <div class="ee-course course-block">
    <div class="course-details">
      <p>Course: EE701</p>
      <p>Professor: Dr. Davis</p>
    </div>
  </div>

  <div class="time-label">12:00 PM</div>
  <div class="cs-course course-block">
    <div class="course-details">
      <p>Course: CS707</p>
      <p>Professor: Dr. Smith</p>
    </div>
  </div>
  <div class="dead-time"></div>
  <div class="ee-course course-block">
    <div class="course-details">
      <p>Course: EE801</p>
      <p>Professor: Dr. Williams</p>
    </div>
  </div>
  <div class="ee-course course-block">
    <div class="course-details">
      <p>Course: EE901</p>
      <p>Professor: Dr. Davis</p>
    </div>
  </div>
  <div class="dead-time"></div>

  <div class="time-label">1:00 PM</div>
<div class="cs-course course-block">
  <div class="course-details">
    <p>Course: CS808</p>
    <p>Professor: Dr. Smith</p>
  </div>
</div>
<div class="dead-time"></div>
<div class="ee-course course-block">
  <div class="course-details">
    <p>Course: EE902</p>
    <p>Professor: Dr. Williams</p>
  </div>
</div>
<div class="ee-course course-block">
  <div class="course-details">
    <p>Course: EE1001</p>
    <p>Professor: Dr. Davis</p>
  </div>
</div>
<div class="dead-time"></div>

<div class="time-label">2:00 PM</div>
<div class="cs-course course-block">
  <div class="course-details">
    <p>Course: CS909</p>
    <p>Professor: Dr. Smith</p>
  </div>
</div>
<div class="cs-course course-block">
  <div class="course-details">
    <p>Course: CS1010</p>
    <p>Professor: Dr. Johnson</p>
  </div>
</div>
<div class="ee-course course-block">
  <div class="course-details">
    <p>Course: EE1003</p>
    <p>Professor: Dr. Williams</p>
  </div>
</div>
<div class="ee-course course-block">
  <div class="course-details">
    <p>Course: EE1005</p>
    <p>Professor: Dr. Davis</p>
  </div>
</div>

<div class="time-label">3:00 PM</div>
<div class="cs-course course-block">
  <div class="course-details">
    <p>Course: CS1012</p>
    <p>Professor: Dr. Smith</p>
  </div>
</div>
<div class="cs-course course-block">
  <div class="course-details">
    <p>Course: CS1014</p>
    <p>Professor: Dr. Johnson</p>
  </div>
</div>
<div class="ee-course course-block">
  <div class="course-details">
    <p>Course: EE1007</p>
    <p>Professor: Dr. Williams</p>
  </div>
</div>
<div class="ee-course course-block">
  <div class="course-details">
    <p>Course: EE1009</p>
    <p>Professor: Dr. Davis</p>
  </div>
</div>

<div class="time-label">4:00 PM</div>
<div class="dead-time"></div>
<div class="cs-course course-block">
  <div class="course-details">
    <p>Course: CS1016</p>
    <p>Professor: Dr. Smith</p>
  </div>
</div>
<div class="dead-time"></div>
<div class="ee-course course-block">
  <div class="course-details">
    <p>Course: EE1011</p>
    <p>Professor: Dr. Williams</p>
  </div>
</div>
<div class="ee-course course-block">
  <div class="course-details">
    <p>Course: EE1013</p>
    <p>Professor: Dr. Davis</p>
  </div>
</div>
<div class="dead-time"></div>

<div class="time-label">5:00 PM</div>
<div class="dead-time"></div>
<div class="cs-course course-block">
  <div class="course-details">
    <p>Course: CS1018</p>
    <p>Professor: Dr. Johnson</p>
  </div>
</div>
<div class="dead-time"></div>
<div class="ee-course course-block">
  <div class="course-details">
    <p>Course: EE1015</p>
    <p>Professor: Dr. Williams</p>
  </div>
</div>
<div class="ee-course course-block">
  <div class="course-details">
    <p>Course: EE1017</p>
    <p>Professor: Dr. Davis</p>
  </div>
</div>
<div class="dead-time"></div>
</div>
<%- include('footer') %> 